.bubble_1 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -15px;
    left: 50px;
}

.bubble_2 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 100px;
}

.bubble_3 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 180px;
}

.bubble_4 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 74px;
    background-color: white;
    border-radius: 100%;
    top: -15px;
    left: 220px;
}

.bubble_5 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 280px;
}

.bubble_6 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 50px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -10px;
    left: 330px;
}

.bubble_7 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 360px;
}

.bubble_8 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 410px;
}

.bubble_9 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 74px;
    background-color: white;
    border-radius: 100%;
    top: -14px;
    left: 480px;
}

.bubble_10 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 520px;
}

.bubble_11 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 580px;
}

.bubble_12 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -15px;
    left: 620px;
}