.inputField{
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    gap: 4px;

    &__input {
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid  rgb(113, 113, 113);

        &:hover, &:focus{
            background-color: rgb(243, 243, 243);
            border: 1px solid  rgb(93, 93, 93);
        }

    }
    &--textarea {
        height: 200px
    }

    &__error{
        color: var(--accent_2);
    }

    &--error{
        border: 2px solid var(--accent_2);
        &:hover, &:focus{
            background-color: rgb(243, 243, 243);
            border: 2px solid var(--accent_2);
        }
    }
}