.impressum {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-bottom: 40px;

    @media(min-width: 820px) {
        &__container {
            width: 760px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    
    @media(max-width: 820px) {
        &__container {
            padding: 0px 16px 40px 16px;
            width: 100%;
        }
    }
}