.headlineWrapper {
    max-width: 820px;
    margin: auto;
    padding: 16px;
    img{
    width: 100%;
   
}
}

.headline{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}