.bubble_1 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -15px;
    left: 50px;
}

.bubble_2 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 100px;
}

.bubble_3 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 180px;
}

.bubble_4 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 74px;
    background-color: white;
    border-radius: 100%;
    top: -15px;
    left: 220px;
}

.bubble_5 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 280px;
}

.bubble_6 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 50px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -10px;
    left: 330px;
}

.bubble_7 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 360px;
}

.bubble_8 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 410px;
}

.bubble_9 {
    display: block;
    position: absolute;
    width: 120px;
    height: 80px;
    background-color: white;
    border-radius: 100%;
    left: -20px;
    top: -20px;
}

.bubble_10 {
    display: block;
    position: absolute;
    width: 71px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 80px;
}

.bubble_11 {
    display: block;
    position: absolute;
    width: 71px;
    height: 74px;
    background-color: white;
    border-radius: 100%;
    top: -30px;
    left: -20px;
}

.bubble_12 {
    display: block;
    position: absolute;
    width: 120px;
    height: 80px;
    background-color: white;
    border-radius: 100%;
    right: -20px;
    top: -20px;
}

.bubble_13 {
    display: block;
    position: absolute;
    width: 71px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    right: 80px;
}

.bubble_14 {
    display: block;
    position: absolute;
    width: 71px;
    height: 74px;
    background-color: white;
    border-radius: 100%;
    top: -30px;
    right: -20px;
}

.bubble_15 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 74px;
    background-color: white;
    border-radius: 100%;
    top: -14px;
    left: 480px;
}

.bubble_16 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 520px;
}

.bubble_17 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 71px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -20px;
    left: 580px;
}

.bubble_18 {
    z-index: -5;
    display: block;
    position: absolute;
    width: 90px;
    height: 54px;
    background-color: white;
    border-radius: 100%;
    top: -15px;
    left: 620px;
}

@media (max-width: 820px) {
    .bubble_1 {
        display: none;
    }
    .bubble_2 {
        display: none;
    }
    .bubble_3 {
        display: none;
    }
    .bubble_4 {
        display: none;
    }
    .bubble_5 {
        display: none;
    }
    .bubble_6 {
        display: none;
    }
    .bubble_7 {
        display: none;
    }
    .bubble_8 {
        display: none;
    }
    .bubble_9 {
        display: none;
    }
    .bubble_10 {
        display: none;
    }
    .bubble_11 {
        display: none;
    }
    .bubble_12 {
        display: none;
    }
    .bubble_13 {
        display: none;
    }
    .bubble_14 {
        display: none;
    }
    .bubble_15 {
        display: none;
    }
    .bubble_16 {
        display: none;
    }
    .bubble_17 {
        display: none;
    }
    .bubble_18 {
        display: none;
    }
}