@media (min-width: 838px) {
    .gallery_container {
        width: 820px;
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    // gap: 40px;
    align-items: center;
    padding-bottom: 80px;
    .gallery_container {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        padding: 40px 16px 0px 16px;
        img {
            width: 249px;
            height: 320px;
        }
        //     gap: 8px;
        //     .img_container {
        //         display: flex;
        //         justify-content: space-between;
        //     }
    }
}