@media (max-width: 635px) {
    .main_section {
        .main_section_rev {
            .main_text-button {
                order: 0;
            }
        }
    }
}

@media (min-width: 820px) {
    .main_width {
        width: 790px;
    }
}

.main_section {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    .main_text-button {
        flex-grow: 1;
        flex-basis: 270px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        p {
            display: block;
        }
    }
    .main-img {
        width: 284px;
        height: 365px;
        border-radius: 32px;
    }
    ul {
        padding: 24px;
    }
}

//making every 2nd section reverse text and image position
.reversed {
    .main_text-button {
        order: 2;
    }
}

//makes the headline.svg align with the content
.main_section.main_headline,
.headlineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}